{% extends "base.html" %}

{% block content %}

<h1> Software on Quest</h1>
<p>This list is subject to change, and additional software not listed here may be available. For the complete list, run the command,
        <span class="command">module available</span>. Except where noted,
        <a href="page.php?id=70718">Modules Software Environment Manager</a> must be used to set up your environment to use the Quest software.
</p>

<p>
        <a id="quest" name="quest"></a>
        <strong>
  Quest Software and Applications
 </strong>
</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <ul class="sidebar-nav">
            {% for module in modules %}
                <li><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse_{{module.name}}" aria-expanded="true" aria-controls="collapse_{{module.name}}">
                    {{module.name}}
                </button></li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-sm-10 ">
            {% for module in modules %}
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="heading_{{module.name}}">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_{{module.name}}" aria-expanded="true" aria-controls="collapse_{{module.name}}">
                                {{module.name}}
                            </button>
                          </h2>
                        </div>

                <div id="collapse_{{module.name}}" class="collapse" aria-labelledby="heading_{{module.name}}" data-parent="#accordionExample">
                  <div class="card-body">
                      Available Versions: {% for version in module.versions %} <pre class="code">{{version|safe}}</pre> {% endfor %}
                      <br>
                      <b>Preferred Version:</b> <pre class="code">{{module.preferred}}</pre>
                      <br>
                      <b>Module Whatis:</b> 
                          <p>{{module.whatis}}<p>
                      <br>
                      <b>Module Help:</b>
                          <p>{{module.help_info}}<p>
                      <br>
                      <b>Slurm Example (If available):</b>
                      <br>
                      <pre class="code">{{module.slurm_submission_example|safe}}</pre>
                  </div>
                    </div>
                </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
